<div class="container" align="center"  style="padding-top: 8%;">
    
    <div class="jumbotron" align="center"  style="width: 30%; padding-bottom: 1%; padding-top: 4%;">
        <h1>Login</h1>
        <div class="alert-danger" *ngIf="passwordFlag.value">Incorrect password</div><br>
        <form [formGroup] = "loginForm" (ngSubmit)="submit()" class="form-group"><br>
            
            <!-- Admin Id -->
            <div *ngIf ="loginForm.get('customerId').invalid && loginForm.get('customerId').touched">
                <small *ngIf="loginForm.get('customerId').errors?.required" class="text-danger">*Admin ID is madatory</small>
                <small *ngIf="loginForm.get('customerId').errors?.pattern" class="text-danger">*Not admin ID</small>
            </div>
            <input type="text" [class.is-invalid]="loginForm.get('customerId').invalid && loginForm.get('customerId').touched" formControlName="customerId" class="form-control" style="text-align: center;" placeholder="Admin ID"> <br>
            
            <!-- password -->
            <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                <small *ngIf="loginForm.get('password').errors?.minlength" class="text-danger">*password must be minimum 8 characters</small>
                <small *ngIf= "loginForm.get('password').errors?.required" class="text-danger">*password is madatory</small>
            </div>
            <input type="password" [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" formControlName="password" class="form-control" style="text-align: center; " placeholder="password"> <br>
            
            <!-- buttons -->
            <input [disabled]="!loginForm.valid" type="submit" class="btn btn-primary" style="width: 80%;" value="Log In"><br><br>
            <a routerLink="/login">User Login</a>
        </form>
    </div>
    
</div>