<div class="container" align="center">
    <br><h3 align="center">Change Password</h3><br>
    <div class="jumbotron" align="center" style="width: 40%;">
        
        <form class="form-group" (ngSubmit)="submit()" [formGroup] = "changeForm">
        <div class="alert-danger" *ngIf="flag.value">
            Incorrect Password
        </div>

        <!-- old password -->
        <div class="row">
            <div class="col-6">
                <div *ngIf="changeForm.get('oldPassword').invalid && changeForm.get('oldPassword').touched">
                    <div *ngIf="changeForm.get('oldPassword').errors?.required" >
                        <small class="text-danger">*Field mandatory</small>
                    </div>
                    <div *ngIf="changeForm.get('oldPassword').errors?.minlength">
                        <small class="text-danger">*password must be minimum 8 characters</small>
                    </div>
                </div>
                <label >Old Password:</label>
            </div>
            <div class="col-6">
                <input [class.is-invalid]="changeForm.get('oldPassword').invalid && changeForm.get('oldPassword').touched" type="password" class="form-control" formControlName = "oldPassword">
            </div>
        </div><br>



        <!-- new password -->
        <div class="row">
            <div class="col-6">
                <div *ngIf="changeForm.get('password').invalid && changeForm.get('password').touched">
                    <div *ngIf="changeForm.get('password').errors?.required" >
                        <small class="text-danger">*Field mandatory</small>
                    </div>
                    <div *ngIf="changeForm.get('password').errors?.minlength">
                        <small class="text-danger">*password must be minimum 8 characters</small>
                    </div>
                </div>
                <label >New Password:</label>
            </div>
            <div class="col-6">
                <input [class.is-invalid]="changeForm.get('password').invalid && changeForm.get('password').touched" type="password" class="form-control" formControlName = "password">
            </div>
        </div><br>

        <!-- confirmPassword -->
        <div class="row">
            <div class="col-6">
                <div *ngIf="changeForm.errors?.mismatch">  
                    <small class="text-danger">*mismatch</small>
                </div>
                <label >Confirm Password:</label>
            </div>
            <div class="col-6">
                <input [class.is-invalid]="changeForm.errors?.mismatch" type="password" class="form-control" formControlName = "confirmPassword">
            </div>
        </div><br>

        <div align="center">
            <input [disabled] = "!changeForm.valid" type="submit" class="btn btn-primary"  value="Change Password">
        </div>
        </form>
    </div>
</div>